@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=PT+Mono&family=Shadows+Into+Light&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabeza {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.ubicacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}

.pago {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.envio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

h1 {
    color: black;
    font-family: "Shadows Into Light", cursive;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

h2 {
    color: black;
    font-family: "PT Mono", monospace;
    font-style: oblique;
    text-align: center;
}

h3 {
    color: white;
    text-align: left;
}

p {
    font-family: "PT Mono", monospace;
    color: black;
    text-align: justify;
}

a {
    font-family: "PT Mono", monospace;
    color: white;
    font-style: oblique;
    text-align: justify;
    text-decoration: none;
}

body {
    background-color: rgb(160, 162, 199);
    width: 100%;
    height: 80%;
}

.inicio img {
    background-position: center;
    width: 100%;
    height: 480px;
}

.productos {
    background-position: left;
}

#cabeza,
#pie {
    background-image: linear-gradient(to right, #8312eb, #8b26eb, #9234ec, #9941ec, #a04cec);
    width: 100%;
    height: 20%;
}

header a img {
    width: 30px;
    height: 30px;
    background-position: right;
}

footer div.pago img {
    width: 8%;
    height: 8%;
    background-position: right;
}

footer div h2 {
    text-align: left;
}

footer div.envio img {
    width: 10%;
    height: 10%;
    background-position: right;
}

body main section div img {
    width: 20%;
    height: 20%;
}

.facebook a img {
    width: 10%;
    height: 10%;
}

.instagram a img {
    width: 10%;
    height: 10%;
}

.whatsapp a img {
    width: 5%;
    height: 5%;
}

.ubicacion iframe {
    width: 400px;
    height: 400px;
}

body header nav ul li {
    display: inline-block;
    margin: 10px;
}


.iniciarsesion a {
    text-decoration: none;
    color: black;
    background-color: blanchedalmond;
    padding: 2px;
    margin: 4px;
}

.carousel-inner img {
    width: 100%;
    height: 500px;
    background-position: top center;
}

header {
    position: sticky;
    top: 0;
}

.whatsapp a img {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.iniciarsesion h3,
.crear h3 {
    color: black;
}

#pie {
    text-align: center;
}

.iniciarsesion,
.crear h3 {
    text-align: center;
}

.iniciarsesion h3 {
    text-align: center;
}

.grid {
    text-decoration: none;
    margin: auto;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 50% 50%;
}

.grid-item {
    background-color: rgb(89, 79, 102);
    border: 2px solid black;
    margin: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 320px) {
    .grid {
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(5, 20%);
    }
}


@media only screen and (min-width: 480px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 33%);
    }
}

@media only screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 34%);
        grid-template-rows: repeat(2, 50%);
    }
}

.grid-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-item img {
    width: 80%;
    height: 80%;
    transition-duration: 3s;
    transition-timing-function: ease-out;
}

.grid-item img:hover {
    width: 85%;
    transform: widht 3s;
}

.grid-item div a {
    transition-duration: 2s;
    transition-timing-function: ease;
}

.grid-item div a:hover {
    transform: scale(1.2, 1.2);
}
.productos a {
    text-decoration: none;
    color: black;
    background-color: blanchedalmond;
    padding: 2px;
    margin: 4px;
}
